/*===== FOOTER =====*/

/* === Footer === */
footer {
    background-color: var(--footer-bg-color) !important;
    color: var(--footer-text-color) !important;
}

.footer-block p, .footer-block span {
    color: var(--footer-text-color);
}

.footer-block a {
    color: var(--footer-link-color) !important;
}

    .footer-block a:hover {
        color: var(--footer-link-hover-color) !important;
    }

.footer-block h1, .footer-block h2, .footer-block h3, .footer-block h4, .footer-block h5, .footer-block h6 {
    color: var(--footer-heading-color) !important;
}

/*General*/
.footer-block ul li {
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-3);
    margin-top: 16px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .footer-block ul li {
        margin-top: 12px;
    }
}
/*End General*/

/* Start Social */
.footer-block .social li {
    display: inline-block;
    margin-right: 15px;
}

    .footer-block .social li:last-child {
        margin-right: 0;
    }

.footer-block .social a img {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer-block .social a:hover img {
    opacity: 0.7;
}

/* End Social */


/* Start Navigation link */
.footer-block .footer-link ul a {
    line-height: 24px;
    margin-top: 16px;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .footer-block .footer-link ul a {
        margin-top: 12px;
    }
}

/* Opening hour */
.footer-block .opening-hours span {
    background-color: inherit;
    color: inherit;
}

.footer-block .opening-hours__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid var(--footer-text-color);
}

.footer-block .opening-hours .day {
    font-weight: bold;
}
/* Opening hour End */