/* === Header === */
.header nav .menu-bar ul li a {
    color: var(--header-nav-link-color);
    text-decoration: none;
    font-weight: 500 !important;
}

.header nav .menu-bar ul li:hover a {
    color: var(--header-nav-link-hover-color);
}

.header nav .menu-bar ul.navbar-nav li.nav-item i {
    color: var(--header-nav-link-color);
}

.header nav .menu-bar ul.navbar-nav li:hover.nav-item i {
    color: var(--header-nav-link-hover-color);
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .navbar-area.navbar-three .navbar .navbar-collapse {
        background-color: var(--header-bg-color) !important;
    }
}

.header nav .menu-bar .sub-menu {
    background-color: var(--header-dropdown-bg-color);
}

.header .navbar .navbar-toggler .toggler-icon {
    background-color: var(--header-nav-link-color);
}

.header nav .menu-bar .sub-menu li {
    background-color: var(--header-dropdown-link-bg-color);
}


.header nav .menu-bar .sub-menu li > a {
    color: var(--header-dropdown-link-color);
}

.header nav .menu-bar .sub-menu li:hover > a {
    color: var(--header-dropdown-link-hover-color);
}

    .header nav .menu-bar .sub-menu li:hover {
        background-color: var(--header-dropdown-link-hover-bg-color);
    }
