<div ng-controller="GoCo.LayoutSettingsController">
    <section class="accordion-area">
        <div class="accordion mt-5">
            <div class="accordion-title">
                <label aria-label="Layout Settings" title="Layout Settings">Layout Settings</label>
            </div>
            <div class="accordion-body" id="accordionLayout">
                <div class="card">
                    <div class="card-header">
                        <a href="#collapse-header-desktop" data-bs-toggle="collapse" role="button" class="collapsed" aria-expanded="false">Header Desktop</a>
                    </div>

                    <div id="collapse-header-desktop" class="collapse" data-bs-parent="#accordionLayout">
                        <div class="card-body">
                            <div class="row">
                                <div class="span4 card-body-control">
                                    <div class="control-group-wrapper">
                                        <label>Style</label>
                                        <div class="control-group">
                                            <div class="radio-tile-group">
                                                <div class="input-container" ng-repeat="style in headerDesktopLayoutStyles track by $index">
                                                    <input id="radiobtn_{{$index}}" name="radiobtn_1" type="radio" class="radio-button"
                                                           value="{{style.styleValue}}" ng-model="model.value.headerDesktop.styleValue" />
                                                    <div class="radio-tile"><label class="radio-tile-label">{{style.styleName}}</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group control-group-flex control-group-horizontal">
                                        <label>Header always on top</label>
                                        <umb-toggle checked="model.value.headerDesktop.headerAlwaysOnTop" on-click="toggle('headerDesktop.headerAlwaysOnTop')"></umb-toggle>
                                    </div>
                                    <div class="control-group control-group-flex control-group-horizontal">
                                        <label>Navigation Bar always on top</label>
                                        <umb-toggle checked="model.value.headerDesktop.navigationBarAlwaysOnTop" on-click="toggle('headerDesktop.navigationBarAlwaysOnTop')"></umb-toggle>
                                    </div>
                                    <div class="control-group control-group-flex control-group-horizontal">
                                        <label>Transparent Header</label>
                                        <umb-toggle checked="model.value.headerDesktop.transparentHeader" on-click="toggle('headerDesktop.transparentHeader')"></umb-toggle>
                                    </div>
                                </div>

                                <div class="span8">
                                    <!-- Content Preview -->
                                    <div class="preview-wrap">
                                        <div class="preview-wrap__content">
                                            <div class="control-group">
                                                <div class="preview-wrap__header">
                                                    <span>Preview</span>
                                                </div>
                                                <div class="content-preview" ng-if="true">
                                                    <img src="/App_Plugins/GoCoPlugins/design/layoutSettings/preview/img/headerDesktop_{{model.value.headerDesktop.styleValue || 'style1'}}.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Header Desktop-->

                <div class="card">
                    <div class="card-header">
                        <a href="#collapse-header-mobile" data-bs-toggle="collapse" role="button" class="collapsed" aria-expanded="false">Header Mobile</a>
                    </div>

                    <div id="collapse-header-mobile" class="collapse" data-bs-parent="#accordionLayout">
                        <div class="card-body">
                            <div class="row">
                                <div class="span4 card-body-control">
                                    <div class="control-group-wrapper">
                                        <label>Style</label>
                                        <div class="control-group">
                                            <div class="radio-tile-group">
                                                <div class="input-container" ng-repeat="style in headerMobileLayoutStyles track by $index">
                                                    <input id="radiobtn_{{$index}}" name="radiobtn_1" type="radio" class="radio-button"
                                                           value="{{style.styleValue}}" ng-model="model.value.headerMobile.styleValue" />
                                                    <div class="radio-tile"><label class="radio-tile-label">{{style.styleName}}</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Header always on top</label>
                                            <umb-toggle checked="model.value.headerMobile.headerAlwaysOnTop" on-click="toggle('headerMobile.headerAlwaysOnTop')"></umb-toggle>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Navigation Bar always on top</label>
                                            <umb-toggle checked="model.value.headerMobile.navigationBarAlwaysOnTop" on-click="toggle('headerMobile.navigationBarAlwaysOnTop')"></umb-toggle>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Transparent Header</label>
                                            <umb-toggle checked="model.value.headerMobile.transparentHeader" on-click="toggle('headerMobile.transparentHeader')"></umb-toggle>
                                        </div>
                                    </div>
                                </div>

                                <div class="span8">
                                    <!-- Content Preview -->
                                    <div class="preview-wrap">
                                        <div class="preview-wrap__content">
                                            <div class="control-group">
                                                <div class="preview-wrap__header">
                                                    <span>Preview</span>
                                                </div>
                                                <div class="content-preview" ng-if="true">
                                                    <img src="/App_Plugins/GoCoPlugins/design/layoutSettings/preview/img/mobile_{{model.value.headerMobile.styleValue || 'style1'}}.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Header Mobile-->

                <div class="card">
                    <div class="card-header">
                        <a href="#collapse-image" data-bs-toggle="collapse" role="button" class="collapsed" aria-expanded="false">Image</a>
                    </div>
                    <div id="collapse-image" class="collapse" data-bs-parent="#accordionLayout">
                        <div class="card-body">
                            <div class="row">
                                <div class="span4 card-body-control">
                                    <div class="control-group-wrapper">
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Zoom on hover</label>
                                            <umb-toggle checked="model.value.image.zoomOnHover" on-click="toggle('image.zoomOnHover')"></umb-toggle>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Border radius</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*"
                                                       id="borderRadius"
                                                       ng-model="model.value.image.borderRadius"
                                                       fix-number
                                                       min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group-wrapper">
                                        <label>Box Shadow</label>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Color</label>
                                            <umb-color-picker id="mainNavLinkColor" ng-model="model.value.image.shadowColor" options="settings"
                                                              on-change="onChange(color, 'image', 'shadowColor')"
                                                              on-move="onChange(color, 'image', 'shadowColor')"
                                                              on-hide="onChange(color, 'image', 'shadowColor')">
                                            </umb-color-picker>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Opacity</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="imageShadowOpacity" ng-model="model.value.image.shadowOpacity"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">%</div>
                                            </div>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Obsset X</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="imageShadowObssetX" ng-model="model.value.image.shadowObssetX"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Obsset Y</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="imageShadowObssetY" ng-model="model.value.image.shadowObssetY"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Blur radius</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="imageShadowBlurRadius" ng-model="model.value.image.shadowBlurRadius"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="span8">
                                    <!-- Content Preview -->
                                    <div class="preview-wrap">
                                        <div class="preview-wrap__content">
                                            <div class="control-group">
                                                <div class="preview-wrap__header">
                                                    <span>Preview</span>
                                                </div>
                                                <div class="content-preview" style="text-align: center">
                                                    <img ng-style="getImageOrVideoStyle(model.value.image)"
                                                         ng-class="{'zoom-on-hover': model.value.image.zoomOnHover}"
                                                         style="max-width: 400px"
                                                         src="/App_Plugins/GoCoPlugins/design/layoutSettings/preview/img/image.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Image-->

                <div class="card">
                    <div class="card-header">
                        <a href="#collapse-video" data-bs-toggle="collapse" role="button" class="collapsed" aria-expanded="false">Video</a>
                    </div>
                    <div id="collapse-video" class="collapse" data-bs-parent="#accordionLayout">
                        <div class="card-body">
                            <div class="row">
                                <div class="span4 card-body-control">
                                    <div class="control-group-wrapper">
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Border radius</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*"
                                                       id="borderRadius"
                                                       ng-model="model.value.video.borderRadius"
                                                       fix-number
                                                       min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="control-group-wrapper">
                                        <label>Box Shadow</label>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Color</label>
                                            <umb-color-picker id="videoShadowColor" ng-model="model.value.video.shadowColor" options="settings"
                                                              on-change="onChange(color, 'video', 'shadowColor')"
                                                              on-move="onChange(color, 'video', 'shadowColor')"
                                                              on-hide="onChange(color, 'video', 'shadowColor')">
                                            </umb-color-picker>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Opacity</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="videoShadowOpacity" ng-model="model.value.video.shadowOpacity"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">%</div>
                                            </div>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Obsset X</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="videoShadowObssetX" ng-model="model.value.video.shadowObssetX"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Obsset Y</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="videoShadowObssetY" ng-model="model.value.video.shadowObssetY"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Blur radius</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="videoShadowBlurRadius" ng-model="model.value.video.shadowBlurRadius"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="span8">
                                    <!-- Content Preview -->
                                    <div class="preview-wrap">
                                        <div class="preview-wrap__content">
                                            <div class="control-group">
                                                <div class="preview-wrap__header">
                                                    <span>Preview</span>
                                                </div>
                                                <div class="content-preview" style="text-align: center">
                                                    <img ng-style="getImageOrVideoStyle(model.value.video)"
                                                         style="max-width: 400px"
                                                         src="/App_Plugins/GoCoPlugins/design/layoutSettings/preview/img/video.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Video-->

                <div class="card">
                    <div class="card-header">
                        <a href="#collapse-card" data-bs-toggle="collapse" role="button" class="collapsed" aria-expanded="false">Card</a>
                    </div>
                    <div id="collapse-card" class="collapse" data-bs-parent="#accordionLayout">
                        <div class="card-body">
                            <div class="row">
                                <div class="span4 card-body-control">
                                    <div class="control-group-wrapper">
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Border radius</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*"
                                                       id="borderRadius"
                                                       ng-model="model.value.card.borderRadius"
                                                       fix-number
                                                       min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="control-group-wrapper">
                                        <label>Box Shadow</label>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Color</label>
                                            <umb-color-picker id="mainNavLinkColor" ng-model="model.value.card.shadowColor" options="settings"
                                                              on-change="onChange(color, 'card', 'shadowColor')"
                                                              on-move="onChange(color, 'card', 'shadowColor')"
                                                              on-hide="onChange(color, 'card', 'shadowColor')">
                                            </umb-color-picker>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Opacity</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="cardShadowOpacity" ng-model="model.value.card.shadowOpacity"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">%</div>
                                            </div>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Obsset X</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="cardShadowObssetX" ng-model="model.value.card.shadowObssetX"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Obsset Y</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="cardShadowObssetY" ng-model="model.value.card.shadowObssetY"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                        <div class="control-group control-group-flex control-group-horizontal">
                                            <label>Blur radius</label>
                                            <div class="input-wrap">
                                                <input name="number" type="number" class="umb-property-editor"
                                                       pattern="[0-9]*" id="cardShadowBlurRadius" ng-model="model.value.card.shadowBlurRadius"
                                                       fix-number min="0" step="1" />
                                                <div class="suffix">px</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="span8">
                                    <!-- Content Preview -->
                                    <div class="preview-wrap">
                                        <div class="preview-wrap__content">
                                            <div class="control-group">
                                                <div class="preview-wrap__header">
                                                    <span>Preview</span>
                                                </div>
                                                <div class="content-preview" style="text-align: center">
                                                    <img ng-style="getImageOrVideoStyle(model.value.card)"
                                                         style="max-width: 400px"
                                                         src="/App_Plugins/GoCoPlugins/design/layoutSettings/preview/img/card.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card-->

                <div class="card">
                    <div class="card-header">
                        <a href="#collapse-button" data-bs-toggle="collapse" role="button" class="collapsed" aria-expanded="false">Button</a>
                    </div>

                    <div id="collapse-button" class="collapse" data-bs-parent="#accordionLayout">
                        <div class="card-body">
                            <div class="row">
                                <div class="span4 card-body-control">
                                    <div class="control-group control-group-flex control-group-horizontal">
                                        <label>Border radius</label>
                                        <div class="input-wrap">
                                            <input name="number" type="number" class="umb-property-editor"
                                                   pattern="[0-9]*"
                                                   id="borderRadius"
                                                   ng-model="model.value.button.borderRadius"
                                                   fix-number
                                                   min="0" step="1" />
                                            <div class="suffix">px</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="span8">
                                    <!-- Content Preview -->
                                    <div class="preview-wrap">
                                        <div class="preview-wrap__content">
                                            <div class="control-group">
                                                <div class="preview-wrap__header">
                                                    <span>Preview</span>
                                                </div>
                                                <div class="content-preview" style="text-align: center">
                                                    <button type="button" ng-style="{'border-radius': (model.value.button.borderRadius || 0) + 'px'}" class="btn-preview btn1">GoCo 1</button>
                                                    <button type="button" ng-style="{'border-radius': (model.value.button.borderRadius || 0) + 'px'}" class="btn-preview btn2">GoCo 2</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Button-->

                <div class="card">
                    <div class="card-header">
                        <a href="#collapse-link" data-bs-toggle="collapse" role="button" class="collapsed" aria-expanded="false">Link</a>
                    </div>

                    <div id="collapse-link" class="collapse" data-bs-parent="#accordionLayout">
                        <div class="card-body">
                            <div class="row">
                                <div class="span12 card-body-control">
                                    <div class="span6">
                                        <div class="control-group-wrapper">
                                            <label>Main navigation link</label>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on init</label>
                                                <umb-toggle checked="model.value.link.mainNavUnderlineOnInit" on-click="toggle('link.mainNavUnderlineOnInit')"></umb-toggle>
                                            </div>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on hover</label>
                                                <umb-toggle checked="model.value.link.mainNavUnderlineOnHover" on-click="toggle('link.mainNavUnderlineOnHover')"></umb-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group-wrapper">
                                            <label>Logo link</label>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on init</label>
                                                <umb-toggle checked="model.value.link.secondNavUnderlineOnInit" on-click="toggle('link.secondNavUnderlineOnInit')"></umb-toggle>
                                            </div>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on hover</label>
                                                <umb-toggle checked="model.value.link.secondNavUnderlineOnHover" on-click="toggle('link.secondNavUnderlineOnHover')"></umb-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group-wrapper">
                                            <label>Dropdown link</label>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on init</label>
                                                <umb-toggle checked="model.value.link.dropdownUnderlineOnInit" on-click="toggle('link.dropdownUnderlineOnInit')"></umb-toggle>
                                            </div>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on hover</label>
                                                <umb-toggle checked="model.value.link.dropdownUnderlineOnHover" on-click="toggle('link.dropdownUnderlineOnHover')"></umb-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group-wrapper">
                                            <label>Content link</label>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on init</label>
                                                <umb-toggle checked="model.value.link.contentUnderlineOnInit" on-click="toggle('link.contentUnderlineOnInit')"></umb-toggle>
                                            </div>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on hover</label>
                                                <umb-toggle checked="model.value.link.contentUnderlineOnHover" on-click="toggle('link.contentUnderlineOnHover')"></umb-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group-wrapper">
                                            <label>Footer link</label>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on init</label>
                                                <umb-toggle checked="model.value.link.footerUnderlineOnInit" on-click="toggle('link.footerUnderlineOnInit')"></umb-toggle>
                                            </div>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on hover</label>
                                                <umb-toggle checked="model.value.link.footerUnderlineOnHover" on-click="toggle('link.footerUnderlineOnHover')"></umb-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group-wrapper">
                                            <label>Button link</label>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on init</label>
                                                <umb-toggle checked="model.value.link.buttonUnderlineOnInit" on-click="toggle('link.buttonUnderlineOnInit')"></umb-toggle>
                                            </div>
                                            <div class="control-group control-group-flex control-group-horizontal">
                                                <label>Underline on hover</label>
                                                <umb-toggle checked="model.value.link.buttonUnderlineOnHover" on-click="toggle('link.buttonUnderlineOnHover')"></umb-toggle>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Link-->

                <div class="card">
                    <div class="card-header">
                        <a href="#collapse-general" data-bs-toggle="collapse" role="button" class="collapsed" aria-expanded="false">General</a>
                    </div>

                    <div id="collapse-general" class="collapse" data-bs-parent="#accordionLayout">
                        <div class="card-body">
                            <div class="row">
                                <div class="span4 card-body-control">
                                    <div class="control-group control-group-flex control-group-horizontal">
                                        <label>Back to top</label>
                                        <umb-toggle checked="model.value.general.backToTop" on-click="toggle('general.backToTop')"></umb-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--General-->
            </div>
        </div>
    </section>
</div>
