/*===== FOOTER =====*/

/* === Footer === */
footer, .footer-block {
    background-color: var(--footer-background) !important;
    color: var(--footer-text) !important;

    p, span {
        color: var(--footer-text-color);
    }
}

footer .heading-block {
    color: var(--footer-heading-color) !important;
}

.footer-block a {
    color: var(--footer-link-text) !important;
}

.footer-block a:hover {
    color: var(--footer-link-text-hover) !important;
}

.footer-block h1, .footer-block h2, .footer-block h3, .footer-block h4, .footer-block h5, .footer-block h6 {
    color: var(--footer-heading-color) !important;
}

/*General*/
.footer-block ul li {
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-3);
    margin-top: 16px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .footer-block ul li {
        margin-top: 12px;
    }
}
/*End General*/


/* Start Navigation link */
.footer-block .footer-link ul a {
    line-height: 24px;
    margin-top: 16px;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .footer-block .footer-link ul a {
        margin-top: 12px;
    }
}
