/*UMBRACO*/
.preview-mode .block.line-block {
    min-height: 30px;
}

.umb-block-grid__block {
    min-height: 40px !important;
}

umb-block-grid-block.umb-block-grid__block--view {
    background-color: inherit;
    color: inherit;
}

.umb-block-grid__layout-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: minmax(30px, min-content);
    column-gap: var(--umb-block-grid--column-gap, 0);
    row-gap: var(--umb-block-grid--row-gap, 0);
}

.umb-block-grid__layout-item {
    position: relative;
    /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
    grid-column-end: span min(calc(var(--umb-block-grid--item-column-span, 1) * 3), var(--umb-block-grid--grid-columns));
    grid-row: span var(--umb-block-grid--item-row-span, 1);
}


.umb-block-grid__area-container, .umb-block-grid__block--view::part(area-container) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: minmax(50px, min-content);
    column-gap: var(--umb-block-grid--areas-column-gap, 0);
    row-gap: var(--umb-block-grid--areas-row-gap, 0);
}

.umb-block-grid__area {
    justify-content: start !important;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
    grid-column-end: span min(calc(var(--umb-block-grid--area-column-span, 1) * 3), var(--umb-block-grid--area-grid-columns));
    grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width:1024px) {
    .umb-block-grid__layout-item {
        grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
    }

    .umb-block-grid__area {
        grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
    }
}



/**** Custom additions to the default Grid Layout Stylesheet: ****/

.umb-block-grid {
    container-type: inline-size;
    --my-container-max-width: 1320px;
    --my-container-padding: 0 20px;
}

@container (min-width: 720px) {
    .umb-block-grid__layout-container {
        --my-container-padding: 0 60px;
    }
}


/* additional CSS options for area-container and areas: */
.umb-block-grid__area-container, .umb-block-grid__block--view::part(area-container) {
/*    max-width: var(--my-container-max-width);
    padding: var(--my-container-padding);
    margin-left: auto;
    margin-right: auto;*/
    /* We add gap for Areas in general: */
    --umb-block-grid--areas-column-gap: 20px;
    --umb-block-grid--areas-row-gap: 20px;
}

.umb-block-grid__area {
    justify-content: center;
}

.umb-block-grid__area-actions > button {
    background-color: white !important;
}

/** Specificly for oneColumnSectionBlock we add block colum-gap/row-gap. Notice this is different from the Area Gaps added above. */
.umb-block-grid__layout-item[data-content-element-type-alias="oneColumnSectionBlock"] .umb-block-grid__layout-container {
    --umb-block-grid--column-gap: 20px;
    --umb-block-grid--row-gap: 20px;
}

@container (min-width: 720px) {
    .umb-block-grid__layout-item[data-content-element-type-alias="oneColumnSectionBlock"] .umb-block-grid__layout-container {
        --umb-block-grid--column-gap: 30px;
        --umb-block-grid--row-gap: 30px;
    }
}

/* Umbraco */
.umb-block-grid__block--actions {
    margin-top: 0px !important;
}