<style>
    footer {
        padding: 10px 20px;
    }

        footer p, footer a, footer h6 {
            font-size: 16px;
        }

        footer h6 {
            font-size: 17px;
            font-weight: bold;
        }

        footer h5 {
            font-size: 20px;
            font-weight: bold;
        }

        footer ul {
            list-style-type: none;
            text-align: left;
            margin: 0px;
            border-radius: 5px;
        }

        footer a, footer a:hover {
            text-decoration: none;
            cursor: pointer;
        }
</style>
<div ng-controller="GoCo.ColorSettingsController" style="height: 300px">
    <footer class="footer"
            ng-style="{'background-color': '#' + (model.value.footer.background || '000')}">
        <div style="margin-bottom: 10px">
            <div class="span6">
                <div style="padding-right: 10px;">
                    <h5 ng-style="{'color': '#' + (model.value.footer.heading || '000')}">Logo</h5>
                    <p class="text"
                       ng-style="{'color': '#' + (model.value.footer.text || '000')}">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                    </p>
                </div>
            </div>
            <div class="span2">
                <h6 class="footer-title"
                    ng-style="{'color': '#' + (model.value.footer.heading || '000')}">
                    Company
                </h6>
                <ul>
                    <li ng-repeat="item in ['About', 'Contact', 'Marketing']">
                        <a ng-style="{'color': hover1 ? '#' + (model.value.footer.linkHover || '#000') : '#' + (model.value.footer.link || '#000')}"
                           ng-mouseenter="hover1 = true"
                           ng-mouseleave="hover1 = false">{{item}}</a>
                    </li>
                </ul>
            </div>
            <div class="span2">
                <h6 class="footer-title"
                    ng-style="{'color': '#' + (model.value.footer.heading || '000')}">
                    Services
                </h6>
                <ul>
                    <li ng-repeat="item in ['Products', 'Business', 'Developer']">
                        <a ng-style="{'color': hover2 ? '#' + (model.value.footer.linkHover || '#000') : '#' + (model.value.footer.link || '#000')}"
                           ng-mouseenter="hover2 = true"
                           ng-mouseleave="hover2 = false">
                            {{item}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="span2">
                <h6 class="footer-title"
                    ng-style="{'color': '#' + (model.value.footer.heading || '000')}">
                    Support
                </h6>
                <ul>
                    <li ng-repeat="item in ['Support Center', 'FAQ', 'Terms']">
                        <a ng-style="{'color': hover3 ? '#' + (model.value.footer.linkHover || '#000') : '#' + (model.value.footer.link || '#000')}"
                           ng-mouseenter="hover3 = true"
                           ng-mouseleave="hover3 = false">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="clear: both; padding-top: 10px;">
            <p class="text" style="text-align: center; border-top: 1px solid #000;" ng-style="{'color': '#' + (model.value.footer.text || '000')}">Copyright © 2024 GoCoWeb. All Rights Reserved</p>
        </div>
    </footer>
</div>