<div class="" ng-controller="GoCo.LineIconsController as vm">
    <!--<link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css">-->

    <div class="custom-autocomplete">
        <!-- Search icon box -->
        <input type="text" class="search-box" ng-model="searchTerm" ng-change="filterIcons()" placeholder="Search an icon..." ng-focus="showDropdown = true">

        <!-- List all icons -->
        <div class="dropdown" ng-show="showDropdown">
            <div class="list-icons">
                <div ng-repeat="icon in filteredIcons" ng-click="selectIcon(icon)">
                    <i class="lni {{ icon }}"></i> <span>{{ icon }}</span>
                </div>
            </div>
        </div>

        <!-- Display selected icon -->
        <div class="selected-icon">
            <i class="lni {{ selectedIcon }}"></i> <span>{{ selectedIcon }}</span>
        </div>
    </div>
</div>