<div ng-controller="uKindForge.ColorPaletteController as vm">
    <div class="umb-el-wrap">
        <div class="control-header">
            <div class="control-label-icon">
                <svg height="40px" width="40px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 496 496" xml:space="preserve">
                <circle style="fill:#FFBC00;" cx="176.8" cy="248" r="176.8" /><path style="fill:#F7B208;" d="M176.8,71.2c97.6,0,176.8,79.2,176.8,176.8s-79.2,176.8-176.8,176.8" />
                <circle style="fill:#F20A41;" cx="319.2" cy="248" r="176.8" /><path style="fill:#E00040;" d="M319.2,424.8c-97.6,0-176.8-79.2-176.8-176.8S220.8,71.2,319.2,71.2" />
                <path style="fill:#F97803;" d="M248,85.6c-62.4,27.2-106.4,89.6-106.4,162.4s44,135.2,106.4,162.4c62.4-27.2,106.4-89.6,106.4-162.4
	                        S310.4,112.8,248,85.6z" /><path style="fill:#F76806;" d="M248,410.4c62.4-27.2,106.4-89.6,106.4-162.4S310.4,112.8,248,85.6" />
                    </svg>
                <label class="control-label" for="colorSettings" aria-label="colorSettings" title="Color Settings">Color Palette</label>
            </div>
            <div><small class="control-description">Choose color palettes for customizable design and cohesive styling</small></div>
        </div>
        <div class="controls">
            <div class="umb-property-editor umb-prevalues-multivalues umb-colors">
                <div class="control-group umb-prevalues-multivalues__add color-picker-preval">
                    <div class="umb-prevalues-multivalues__left">

                        <umb-color-picker ng-model="newColor"
                                          options="options"
                                          on-hide="vm.hide(color)"
                                          on-show="vm.show(color)"
                                          on-change="vm.change(color)">
                        </umb-color-picker>

                        <label val-highlight="{{hasError}}">#{{newColor}}</label>
                        <input type="text" name="newLabel" ng-model="newLabel" focus-when="{{focusOnNew}}" class="umb-property-editor color-label" localize="placeholder" placeholder="@general_label" ng-show="vm.labelEnabled" />
                    </div>
                    <div class="umb-prevalues-multivalues__right">
                        <button type="button" class="btn btn-info add" ng-if="vm.editItem == null" ng-click="vm.add($event)"><localize key="general_add">Add</localize></button>
                        <button type="button" class="btn btn-info add" ng-if="vm.editItem != null" ng-click="vm.add($event)"><localize key="general_update">Update</localize></button>
                        <button type="button" class="btn btn-link" ng-if="vm.editItem != null" ng-click="vm.cancel($event)"><localize key="general_cancel">Cancel</localize></button>
                    </div>
                </div>
                <div ui-sortable="sortableOptions" ng-model="model.value">
                    <div class="control-group umb-prevalues-multivalues__listitem color-picker-preval" ng-repeat="item in model.value track by $id(item)">
                        <umb-icon icon="icon-navigation" class="icon handle"></umb-icon>
                        <div class="umb-prevalues-multivalues__left">
                            <div class="thumbnail span1" hex-bg-color="{{item.value}}" hex-bg-orig="transparent"></div>
                            <div class="color-picker-prediv">
                                <pre>#{{item.value}}</pre>
                                <span ng-bind="item.label" ng-if="vm.labelEnabled"></span>
                            </div>
                        </div>
                        <div class="umb-prevalues-multivalues__right">
                            <button type="button" class="umb-node-preview__action umb-node-preview__action--red" ng-click="vm.edit(item, $event)"><localize key="general_edit">Edit</localize></button>
                            <button type="button" class="umb-node-preview__action umb-node-preview__action--red" ng-click="vm.remove(item, $event)"><localize key="general_remove">Remove</localize></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>