/* Body */
:root, :host, body {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size-desktop);
    line-height: var(--text-line-height);
    margin: 0;
}

/* Back to Top */
.top {
    --offset: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;

    width: 45px;
    height: 45px;
    background: #ff8b24;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
}

    /* Button Icon */
    .top:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 15px;
        height: 15px;
        border-top: 5px solid #fff;
        border-right: 5px solid #fff;
    }

    .top:hover {
        background: #e6731f;
    }

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}
/* End Back to Top */

/* === Container === */
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* === Headings === */
h1 {
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-font-line-height);
    font-size: var(--h1-font-size-desktop);
}

h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-font-line-height);
    font-size: var(--h2-font-size-desktop);
}

h3 {
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-font-line-height);
    font-size: var(--h3-font-size-desktop);
}

h4 {
    font-family: var(--h4-font-family);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-font-line-height);
    font-size: var(--h4-font-size-desktop);
}

h5 {
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    line-height: var(--h5-font-line-height);
    font-size: var(--h5-font-size-desktop);
}

h6 {
    font-family: var(--h6-font-family);
    font-weight: var(--h6-font-weight);
    line-height: var(--h6-font-line-height);
    font-size: var(--h6-font-size-desktop);
}

/* Media queries cho heading */
@media (max-width: 1024px) {
    h1 {
        font-size: var(--h1-font-size-tablet);
    }

    h2 {
        font-size: var(--h2-font-size-tablet);
    }

    h3 {
        font-size: var(--h3-font-size-tablet);
    }

    h4 {
        font-size: var(--h4-font-size-tablet);
    }

    h5 {
        font-size: var(--h5-font-size-tablet);
    }

    h6 {
        font-size: var(--h6-font-size-tablet);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: var(--h1-font-size-mobile);
    }

    h2 {
        font-size: var(--h2-font-size-mobile);
    }

    h3 {
        font-size: var(--h3-font-size-mobile);
    }

    h4 {
        font-size: var(--h4-font-size-mobile);
    }

    h5 {
        font-size: var(--h5-font-size-mobile);
    }

    h6 {
        font-size: var(--h6-font-size-mobile);
    }
}

dl, ol, ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.btn {
    font-weight: bold;
    font-size: var(--button-font-size-desktop);
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 12px 24px;
}

@media (max-width: 1024px) {
    .btn {
        font-size: var(--button-font-size-tablet);
    }
}

@media (max-width: 768px) {
    .btn {
        font-size: var(--button-font-size-mobile);
        padding: 8px 16px;
    }
}

ul.btn-group li {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}

.header-desktop-sticky {
    position: sticky;
    z-index: 10;
    top: 0;
}

.header-mobile-sticky {
    position: sticky;
    z-index: 10;
    top: 0;
}