
/* === Body === */
:root, :host, body {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size-desktop);
    line-height: var(--text-line-height);
    margin: 0;
}

/* === Container === */
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}

/*@media (min-width: 992px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .row {
        margin-left: -16px;
        margin-right: -16px;
    }

        .row > [class*=col] {
            padding-left: 16px;
            padding-right: 16px;
        }
}

@media (min-width: 768px) {
    .container-fluid {
        padding-left: 32px;
        padding-right: 32px;
    }
}*/

/* === Container End === */

/* === Section === */
/* === Section End === */


/** only works on website. */
/* === Section End === */


/* === Headings === */
h1 {
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-font-line-height);
    font-size: var(--h1-font-size-desktop);
}

h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-font-line-height);
    font-size: var(--h2-font-size-desktop);
}

h3 {
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-font-line-height);
    font-size: var(--h3-font-size-desktop);
}

h4 {
    font-family: var(--h4-font-family);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-font-line-height);
    font-size: var(--h4-font-size-desktop);
}

h5 {
    font-family: var(--h5-font-family);
    font-weight: var(--h5-font-weight);
    line-height: var(--h5-font-line-height);
    font-size: var(--h5-font-size-desktop);
}

h6 {
    font-family: var(--h6-font-family);
    font-weight: var(--h6-font-weight);
    line-height: var(--h6-font-line-height);
    font-size: var(--h6-font-size-desktop);
}

/* Media queries cho heading */
@media (max-width: 1024px) {
    h1 {
        font-size: var(--h1-font-size-tablet);
    }

    h2 {
        font-size: var(--h2-font-size-tablet);
    }

    h3 {
        font-size: var(--h3-font-size-tablet);
    }

    h4 {
        font-size: var(--h4-font-size-tablet);
    }

    h5 {
        font-size: var(--h5-font-size-tablet);
    }

    h6 {
        font-size: var(--h6-font-size-tablet);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: var(--h1-font-size-mobile);
    }

    h2 {
        font-size: var(--h2-font-size-mobile);
    }

    h3 {
        font-size: var(--h3-font-size-mobile);
    }

    h4 {
        font-size: var(--h4-font-size-mobile);
    }

    h5 {
        font-size: var(--h5-font-size-mobile);
    }

    h6 {
        font-size: var(--h6-font-size-mobile);
    }
}

dl, ol, ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.btn {
    font-weight: bold;
    font-size: var(--button-font-size-desktop);
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 12px 24px;
}

@media (max-width: 1024px) {
    .btn {
        font-size: var(--button-font-size-tablet);
    }
}

@media (max-width: 768px) {
    .btn {
        font-size: var(--button-font-size-mobile);
        padding: 8px 16px;
    }
}

ul.btn-group li {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}

/* === Text === */
    /*p, span {
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight);
    color: var(--content-text-color);
    line-height: var(--text-line-height);
}

@media (max-width: 1024px) {
    p, span, a {
        font-size: var(--text-font-size-tablet);
    }
}

@media (max-width: 768px) {
    p, span, a {
        font-size: var(--text-font-size-mobile);
    }
}*/
    /* === Links === */
    /*a {
    color: var(--content-link-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}

    a:hover {
        color: var(--content-link-hover-color);
    }*/
    /* === Buttons === */
    /*a.primary-btn, button.primary-btn {
        background-color: var(--button-primary-bg);
        color: var(--button-primary-text-color);
        border: 1px solid var(--button-primary-border-color);
    }

        a.primary-btn:hover, button.primary-btn:hover {
            background-color: var(--button-primary-bg-hover);
            color: var(--button-primary-text-hover-color);
            border-color: var(--button-primary-border-hover-color);
        }

    a.btn-secondary, button.btn-secondary {
        background-color: var(--button-secondary-bg);
        color: var(--button-secondary-text-color);
        border: 1px solid var(--button-secondary-border-color);
    }

        a.btn-secondary:hover, button.btn-secondary:hover {
            background-color: var(--button-secondary-bg-hover);
            color: var(--button-secondary-text-hover-color);
            border-color: var(--button-secondary-border-hover-color);
        }*/
    /* === Common ===*/
    /*dl, ol, ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.btn {
    font-weight: bold;
    font-size: var(--button-font-size-desktop);
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 12px 24px;*/
    /*border-radius: 4px;
    border: 1px solid transparent;*/
    /*}

@media (max-width: 1024px) {
    .btn {
        font-size: var(--button-font-size-tablet);
    }
}

@media (max-width: 768px) {
    .btn {
        font-size: var(--button-font-size-mobile);
        padding: 8px 16px;
    }
}

.bg_cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*/