<div class="radio-tile-group" ng-controller="uKindForge.BackgroundColorController as vm">
    <style>
        .heading {
            font-size: 18px;
            font-weight: 600;
        }
        .text {
            font-size: 14px;
        }
    </style>
    <div class="input-container" ng-repeat="item in model.items track by $id(item)">
        <input id="radiobtn_bgcolor_{{$id}}_{{$index}}"
               name="radiobtn_bgcolor_{{$id}}_{{$index}}"
               type="radio"
               ng-model="model.value"
               value="{{item.order}}"
               class="radio-button" />
        <div class="radio-tile"
             ng-class="{'bg-transparent': !item.backgroundColor}"
             ng-style="item.backgroundColor ? {'background-color': '#' + item.backgroundColor} : {}">
            <label class="radio-tile-label"></label>
            <div class="heading" ng-style="{'color': '#' + item.headingColor}">Heading</div>
            <div class="text" ng-style="{'color': '#' + item.textColor}">Texting</div>
        </div>
    </div>
</div>